@using Shipping.Models;

<label action="parcels/parcels" method="post">
  <label for="contents">Please describe the contents of your parcel</label>
  <input id="contents" name="contentsl" type="text">
  <label for="dimensionsH">Add the new parcel's HEIGHT</label>
  <input id="dimensionsH" name="dimensionsH" type="text">
  <label for="dimensionsW">Add the new parcel's WIDTH</label>
  <input id="dimensionsW" name="dimensionsW" type="text">
  <label for="dimensionsl">Add the new parcel's LENGTH</label>
  <input id="dimensionsL" name="dimensionsL" type="text">

  <button type="submit">Submit</button>
</label>