@using Shipping.Models;

<h1>Small Parcel Palace</h1>
@if (Model.Count == 0)
{
  <p>There are no parcels in your order.</p>
}
<ul>
  @foreach (Parcel parcel in Model)
  {
    <li>@parcel.Contents</li>  
    <li>@myVolume</li>  
    <li>@parcel.Weight</li>  
    <li>@myCost</li>   
  }
</ul>
<a href="/parcels/new">Add a new Parcel.</a>