<h1>Welcome to the Small Parcel Palace!</h1>
<h3>We are here to help you ship your small parcels to your friends and family without all the hassle and extra costs!</h3>
<h4>Flat rates for any package under 20lbs!S</h4>
<h5>Waht would you like to do?</h5>
<a href='/parcels/new'>Add a new parcel to your order!</a>
<a href='/parcels'>See the list of parcels in your order</a>